<form action="/new" method="POST" name="birthdayForm">
  <label>Твоё имя: <br><input type="text" name="name" id="name" class="mb-3"></label><br>
  <label>Твоя фамилия: <br><input type="text" name="lastname" id="lastname" class="mb-3"></label><br>
  <label>Твоя дата рождения: <br><input type="date" name="birthday" id="birthday" class="mb-3"></label>
  <br><button type="submit" class="btn btn-primary">Подтвердить</button>
</form>
