<script defer src="/js/index.js"></script>
<h1 class="text-align-center mb-2">ELBRUS CODING BOOTCAMP</h1>
<hr class="mb-3">
{{#if fail}}
<div class="alert alert-danger" role="alert">
  Похоже, ты уже вносил данные. Если нет - обратись к преподавателю.
</div>
{{/if}}
{{#if invalidData}}
<div class="alert alert-danger" role="alert">
  Данные не прошли проверку на валидность. Попробуй ещё раз.
</div>
<form action="/" method="POST" name="birthdayForm" id="bdform">
  <div class="form-group">
    <label> Твоё имя: <br><input type="text" name="name" id="name" placeholder="Иван" class="mb-3 form-control"
        value="{{student.name}}"></label><br>
    <label>Твоя фамилия: <br><input type="text" name="lastname" id="lastname" placeholder="Иванов"
        class="mb-3 form-control" value="{{student.lastname}}"></label><br>
    <label>Твоя дата рождения: <br><input type="date" name="birthday" id="birthday" value="{{student.birthday}}"
        class="mb-3 form-control"></label><br>
    <label>Где проходишь буткемп: <br>
      <select name="city" class="mb-3 form-control" id="city">
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Онлайн">Онлайн</option>
      </select></label>
    <br>
    <label>Название твоей группы: <br>
      <select class="mb-3 form-control" name="animal" id="animal">
        <option value="Волки">Волки</option>
        <option value="Еноты">Еноты</option>
        <option value="Лисы">Лисы</option>
        <option value="Медведи">Медведи</option>
        <option value="Орлы">Орлы</option>
        <option value="Совы">Совы</option>
        <option value="Ежи">Ежи</option>
        <option value="Бобры">Бобры</option>
        <option value="Пчёлы">Пчёлы</option>
      </select>
    </label>
    <br><button type="submit" class="btn btn-primary">Подтвердить</button>
  </div>
</form>

{{else}}
<form action="/" method="POST" name="birthdayForm" id="bdform">
  <div class="form-group">
    <label> Твоё имя: <br><input type="text" name="name" id="name" placeholder="Иван"
        class="mb-3 form-control"></label><br>
    <label>Твоя фамилия: <br><input type="text" name="lastname" id="lastname" placeholder="Иванов"
        class="mb-3 form-control"></label><br>
    <label>Твоя дата рождения: <br><input type="date" name="birthday" id="birthday"
        class="mb-3 form-control"></label><br>
    <label>Где проходишь буткемп: <br>
      <select name="city" class="mb-3 form-control" id="city">
        <option value="Москва">Москва</option>
        <option value="Санкт-Петербург">Санкт-Петербург</option>
        <option value="Онлайн">Онлайн</option>
      </select></label><br>
    <label>Название твоей группы: <br>
      <select class="mb-3 form-control" name="animal" id="animal">
        <option value="Волки">Волки</option>
        <option value="Еноты">Еноты</option>
        <option value="Лисы">Лисы</option>
        <option value="Медведи">Медведи</option>
        <option value="Орлы">Орлы</option>
        <option value="Совы">Совы</option>
        <option value="Ежи">Ежи</option>
        <option value="Бобры">Бобры</option>
        <option value="Пчёлы">Пчёлы</option>
      </select>
    </label>
    <br><button type="submit" class="btn btn-primary">Подтвердить</button>
  </div>
</form>
{{/if}}
