<h2 class="text-align-center mb-2">ะัะธะฒะตัะธะบะธ-ะฟะธััะพะปะตัะธะบะธ ๐๐ซ</h2>
<hr class="mb-3">
{{#if fail}}
<div class="alert alert-danger" role="alert">
  ะัะธะฑะบะฐ ะฒัะพะดะฐ. ะะพะฟัะพะฑัะน ะตัะต ัะฐะท.
</div>
{{/if}}
<form action="/admin/login" method="POST" name="signin">
  <div class="form-group">
    <label> ะะพะณะธะฝ: <br><input type="text" name="login" id="login" required class="mb-3 form-control"></label><br>
    <label>ะะฐัะพะปั: <br><input type="password" name="password" id="password" required class=" form-control"></label><br>
    <br><button type="submit" class="btn btn-primary">ะะพะนัะธ</button>
  </div>
</form>
