@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Jost:wght@400;600&display=swap');
* {
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  background-color: royalblue;
}

body {
  background-image: url('../img/photo_2020-08-27_16-20-27.jpg');
  background-repeat: no-repeat;
  background-position-x: 700px;
  background-position-y: 50px;
}
